altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
gitpython
idna
importlib-metadata
jinja2
joblib
jsonschema
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
nest-asyncio
numpy
pandas
pillow
protobuf
psutil
pyarrow
pydeck
pygments
pympler
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
requests
rich
scikit-learn
scipy
six
smmap
streamlit
tenacity
threadpoolctl
toml
toolz
tornado
traitlets
typing-extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
zipp
